.burger_button {
	position: relative;
	display: none;
	width: 100vw;
	height: 16vw;
	padding: 0;

	label {
		padding: 2vw 0;
		position: absolute;
		top: 3vw;
		left: 5vw;
		display: block;
		width: 10vw;
		height: 10vw;

		cursor: pointer;
	}
	.opened {
		.first,
		.second {
			top: 4.5vw;
		}
		.first {
			rotate: 45deg;
		}
		.second {
			rotate: -45deg;
		}
		.third {
			display: none;
		}
	}
}
#check-menu {
	display: none;
}

.menu_mobile {
	position: absolute;
	bottom: 0;
	visibility: hidden;
	width: 100%;
	max-height: 0;
	a {
		display: block;
		padding: 5vw;
		background: rgba(233, 231, 231, 0.95);
		width: 100%;
		height: 15vw;
		text-align: center;
		font-size: 5vw;
	}
}
.burger_line {
	position: absolute;
	display: block;
	width: 10vw;
	height: 1vw;
	background-color: #e9e7e7;
}
.second {
	top: 4.5vw;
}
.third {
	bottom: 2vw;
}

#check-menu:checked ~ .menu_mobile {
	visibility: visible;
}

@media screen and (orientation: portrait) {
	header {
		position: sticky;
		top: 0;
		padding: 0;
		z-index: 2;
		background: #232323;
	}

	.burger_button {
		display: block;
	}
	.menu_pc {
		display: none;
	}
}
